@model IEnumerable<PasswordManager.Models.Users>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="item-list">
    <thead>
        <tr>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            @*<th></th>*@
        </tr>
    </thead>

</table>

<script>
    $.ajax({
        "type": "GET",
        "url": "/User/GetUsers",
        "datatype": "json",
        "traditional": true
    }).done(function (data, err) {
        data = JSON.parse(data);
        $("#item-list").DataTable({
            "data": data,
            "datatype": "json",
            "destroy": true,
            "columns": [
                { data: 'CreatedDate' },
                { data: 'UpdatedDate' },
                { data: 'Name' },
                { data: 'Status' },
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        })
        console.log(err)
    })
</script>