
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button onclick="@Url.Action("Create", "Password")">Generate New Password</button><button onclick="@Url.Action("Create", "Pin")">Generate New Pin</button>