@model IEnumerable<PasswordManager.Models.Websites>

@{
    ViewBag.Title = "Websites";
}

<h2>Websites</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="item-list">
    <thead>
        <tr>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th>
                Name
            </th>
            <th>
                Url
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

</table>

<script>
    $.ajax({
        "type": "GET",
        "url": "/Website/GetWebsites",
        "datatype": "json",
        "traditional": true
    }).done(function (data, err) {
        data = JSON.parse(data);
        $("#item-list").DataTable({
            "data": data,
            "datatype": "json",
            "destroy": true,
            "columns": [
                { data: 'CreatedDate' },
                { data: 'UpdatedDate' },
                { data: 'Name' },
                { data: 'Url' },
                { data: 'Status' },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href="/Website/Edit/' + row.SysId + '">Edit</a> <a href="/Website/Details/' + row.SysId + '">View</a> <a href="/Website/Delete/' + row.SysId + '">Delete</a>';
                    }
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        })
        console.log(err)
    })
</script>